@if (Request.IsAuthenticated) {
    <strong> Hello, @Html.Encode(User.Identity.Name)</strong>
    @Html.ActionLink("Log Out","Logout","User")
    
} else {
    <ul>
        <li>@Html.ActionLink("Početna", "Index", "Home")</li>
        <li>@Html.ActionLink("Registracija", "Registration", "User")</li>
        <li>@Html.ActionLink("Login", "LogIn", "User")</li>
    </ul>
}
